.body {
  padding: 30px;
  border-radius: 15px;
  background-color: #F2F2F2;
}

.wrapper {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='%237B61FFFF' stroke-width='5' stroke-dasharray='6%2c 14' stroke-dashoffset='16' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 6px;
  padding: 7px 10px;
  max-width: 900px;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child){
    margin-bottom: 20px;
  }
}